[toolchain]
channel = "1.63.0"
components = ["rust-src", "rustfmt", "clippy"]
targets = [
    "x86_64-unknown-linux-gnu",
    "x86_64-unknown-linux-musl",
    "aarch64-unknown-linux-gnu",
    "aarch64-unknown-linux-musl",
]

